<!DOCTYPE html>
<html>
  <head>
    <meta charset-"utf-8">
    <title>Home</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io();
      socket.on('connect', function () {
        console.log('Connected to server');
      });

      $(document).ready(function(){
        $('#subId').on('click', function(e) {
          e.preventDefault();
            fnSubUnSub('subscribe');
        });
        $('#unsubId').on('click', function(e) {
          e.preventDefault();
            fnSubUnSub('unsubscribe');
        });

        socket.on('subscribed', function (message) {
          alert(message);
          if (message != 'Please enter a valid US zip code!') {
            document.getElementById("userformid").reset();
          };
        });
      });

      function fnSubUnSub(sub_unsub) {
        if ($('#firstNameid').val().trim().length > 0 && $('#lastNameid').val().trim().length > 0 && $('#emailid').val().trim().length > 0 && $('#zipcodeid').val().trim().length > 0) {
          if($('#emailid').val().includes('@')) {
            socket.emit(sub_unsub, {
              firstName: $('#firstNameid').val(),
              lastName: $('#lastNameid').val(),
              email: $('#emailid').val(),
              zipcode: $('#zipcodeid').val()
            });
          } else {
            alert('Please enter valid email id');
          }
        } else {
          alert('Please fill all required fields');
        }
      }
    </script>
  </head>
  <body id="bodyId">
    <div class="" align="center">
        <section class="py-4">
          <nav id="header" class="navbar navbar-dark bg-dark fixed-top bg-primary">
            <div class="container">
              <div class="text-primary m-auto">
                Weather Notification
              </div>
            </div>
          </nav>
        </section>
        <section class="py-5">
          <div class="container py-5 px-auto">
          <form id="userformid">
            <div class="row">
              <div class="col-md-6 mx-auto text-left">
                <input class="form-control" type="text" id="firstNameid" name="fname" placeholder="First Name" /> <br/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mx-auto text-left">
                <input class="form-control" type="text" id="lastNameid" name="lname" placeholder="Last Name" /> <br/>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 mx-auto text-left">
                <input class="form-control" type="text" id="emailid" name="email" placeholder="Email" /> <br/>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 mx-auto text-left">
                <input class="form-control" type="number" id="zipcodeid" name="zip" placeholder="Enter your zip code"/> <br/>
              </div>
            </div>
            <input id = "subId" class="btn btn-primary" type="button" name="Subscribe" value="Subscribe" />
            <input id = "unsubId" class="btn btn-secondary" type="button" name="Unsubscribe" value="Unsubscribe" />
        </form>
        </div>
        </section>
    </div>
  </body>
</html>
