#bodyId {
  background-image: url('../images/bg.png');
  background-size: cover;
  background-attachment: fixed;
}

#header {
  font-family: Arial Rounded MT Bold;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
